extends ../../views/layout

block content
    h1= title
    form(method='POST' action='' novalidate )
        div.form-group 
            label(for='name') Task Name: 
            input#name.form-control(
                name='name'
                type='text' 
                placeholder='Name of task'
                required='true' 
                value=(undefined===task ? '' : task.name))        
            label(for='description') Task Description: 
            input#description.form-control(
                name='description'
                type='text' 
                placeholder='Task description'
                required='true'
                value=(undefined===task ? '' : task.description))        
            div(class='row')
                div(class='col-sm-4')
                    label(for='startDateTime') Start Date/Time (UTC): 
                    input#startDateTime.form-control(
                        name='startDateTime'
                        type='datetime-local' 
                        required='true' value=(undefined===task ? '' : task.startDateTime_formatted))        
                div(class='col-sm-4')
                    label(for='endDateTime') End Date/Time (UTC): 
                    input#endDateTime.form-control(
                        name='endDateTime'
                        type='datetime-local' 
                        required='true'
                        value=(undefined===task ? '' : task.endDateTime_formatted))        
        button.btn.btn-primary(type='submit' name='save' value='save') Save
        p
        button.btn.btn-primary(type='submit' name='assign' value='assign') Save and Make Role Assignments
        p 
        a(href='/jobs/job/'+job.id+'/tasks')
            button.btn.btn-danger(type='button') Cancel

    if errors 
        ul  
            for error in errors 
                li!= error.msg
