extends ../../views/layout

block content
    h1= title
    form(method='POST' action='' novalidate )
        div.form-group 
            label(for='name') Leave Name: 
            input#name.form-control(
                name='name'
                type='text' 
                placeholder='Name of leave'
                required='true' 
                value=(undefined===leave ? '' : leave.name))        
            div(class='row')
                div(class='col-sm-4')
                    label(for='startDate') Start Date: 
                    input#startDate.form-control(
                        name='startDate'
                        type='date' 
                        font-size='3rem'
                        required='true' 
                        value=(undefined===leave ? '' : leave.startDate_formatted))        
                div(class='col-sm-4')
                    label(for='endDate') End Date: 
                    input#endDate.form-control(
                        name='endDate'
                        type='date' 
                        font-size='3rem'
                        required='false' 
                        value=(undefined===leave ? '' : leave.endDate_formatted))        
        button.btn.btn-primary(type='submit') Submit
        p
        a(href='/persons/person/'+person.id+'/leave')
            button.btn.btn-danger(type='button') Cancel
    if errors 
        ul  
            for error in errors 
                li!= error.msg
