extends ../../views/layout

block content
    h1= title
    form(method='POST' action='' novalidate )
        div.form-group 
           div(class='row')
                div(class='col-sm-6')
                    label(for='training') Select Training: 
                    select#type.form-control(type='select', placeholder='Select leave duration' name='duration' required='true')
                    - trainings.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                    for training in trainings
                        if (training._id.toString() === person_training.training._id.toString())
                            option(value=training._id selected) #{training.name}
                        else
                            option(value=training._id)  #{training.name}
                div(class='col-sm-2')
                    label(for='expirationDate') Expiration Date: 
                    input#startDate.form-control(
                        name='expirationDate'
                        type='date' 
                        required='true' 
                        value=(undefined===person_training ? '' : person_training.expirationDate_formatted))        
        button.btn.btn-primary(type='submit') Submit
    if errors 
        ul  
            for error in errors 
                li!= error.msg
