extends layout

block content
  h1= title
  p Welcome to #[em Personnel Scheduler], blah, blah, blah.

  h1 Dynamic content

  if error
    p Error getting dynamic content.
  else
    p The Personnel Scheduler has the following record counts

    ul
      li #[strong Organizations:] !{results.organization_count}
      li #[strong Jobs:] !{results.job_count}
      li #[strong Persons:] !{results.person_count}
      li #[strong Roles:] !{results.role_count}
      li #[strong Tasks:] !{results.tasks_count}
      li #[strong Leaves:] !{results.leave_count}
      li #[strong Training:] !{results.training_count}
