extends layout

block content
  p 
    | Welcome to #[em Personnel Scheduling and Training Management] Application. 
    | This application provides the means to
  ul 
    li Define organizations within the enterprise 
    li Identifiy the personnel within an organization and move personnel from one organization to another 
    li Define jobs required to be performed 
    li Define the roles for the jobs 
    li Define training requirement for job roles 
    li Identify training records for personnel 
    li Identify leave taken by personnel 
    li Define tasks for jobs 
    li Assign personnel to tasks based on their training qualifications and availability 
    li Report on various aspects of the organization and training programs 
  p 
    | The application is devided into two major components, Organizational and Training Management.
    | Organizational Management handles personnel, jobs, roles, and tasks, while 
    | Training Management handles training program identification and keeps records of personnel training

  h1 Contents of the Data Base

  if error
    p Error getting dynamic content.
  else
    p The Personnel Scheduler has the following record counts

    ul
      li #[strong Organizations:] !{results.organization_count}
      li #[strong Jobs:] !{results.job_count}
      li #[strong Persons:] !{results.person_count}
      li #[strong Roles:] !{results.role_count}
      li #[strong Tasks:] !{results.tasks_count}
      li #[strong Leaves:] !{results.leave_count}
      li #[strong Training:] !{results.training_count}