extends ../../views/layout

block content
    h1= title
    - var addurl = '/roles/' +organization.id+ '/create/'
    a(href=addurl)
        button.btn.btn-large.btn-primary(type='button') Add New Role 
    p
    a(href='/organizations')
        button.btn.btn-primary(type='button') Return to Organization List
    p
    if role_list.length != 0
        table(class='table' id='role-table')
            thread 
                tr 
                th(class='text-left' scope='col') Name 
                th(class='text-left' scope='col') Description 
                th(class='text-center' scope='col') Training Needs 
                th(class='text-center' scope='col') Modify
                th(class='text-center' scope='col') Delete
            tbody 
                each role in role_list
                    tr 
                        td(class='text-left') #{role.name}
                        td(class='text-left') #{role.description}
                        td(class='text-center')
                            a(href='/roles/role/'+role.id+'/training')
                                button.btn.btn-small.btn-dark(type='button')
                        td(class='text-center')
                            a(href='/roles/role/'+role.id+'/modify')
                                button.btn.btn-small.btn-primary(type='button')
                        td(class='text-center')
                            a(href='/roles/role/'+role.id+'/delete')
                                button.btn.btn-small.btn-danger(type='button')
    else
        ul
            li There are no roles for organization #{organization.name}