extends ../../views/layout

block content
    h1= title
    form(method='POST' action='')
        div.form-group 
            label(for='training') Select Training: 
            select#type.form-control(type='select', placeholder='Select training type' name='training' required='true')
                - trainings.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
                for training in trainings
                    if (modify)
                        if (training._id.toString() === trainingid.toString())
                            option(value=training._id selected) #{training.name}
                        else
                            option(value=training._id)  #{training.name}
                    else
                        option(value=training._id)  #{training.name}
        button.btn.btn-primary(type='submit') Submit
        p
        a(href='/roles/role/'+role.id+'/training')
            button.btn.btn-danger(type='button') Cancel
    if errors 
        ul  
            for error in errors 
                li!= error.msg