extends ../../views/layout

block content
    h1= title
    - var addurl = '/roles/role/' +role.id+ '/training/create/'
    a(href=addurl)
        button.btn.btn-large.btn-primary(type='button') Add Training Requirement to Role
    p
    a(href='/roles/'+role.organization)
        button.btn.btn-primary(type='button') Return to Role List
    if trainings.length != 0
        - trainings.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        table(class='table' id='training-table')
            thread 
                tr 
                th(class='text-center' scope='col') Name 
                th(class='text-center' scope='col') Description 
                th(class='text-center' scope='col') Modify
                th(class='text-center' scope='col') Remove
            tbody 

                each training in trainings
                    tr 
                        td(class='text-left') #{training.name}
                        td(class='text-left') #{training.description}
                        td(class='text-center')
                            a(href='/roles/role/'+role.id+'/training/'+training.id+'/modify')
                                button(type='button' class='btn btn-small btn-primary') 
                        td(class='text-center')
                            button.btn.btn-small.btn-danger(data-toggle='modal' data-target='#delete-'+training.id)
    else
        li There are no training requirements for role #{role.name}
    //- build the delete modal dialogs 
    for training in trainings
        div(class='modal fade' id='delete-'+training.id aria-labelby='delete-'+training.id tabindex='-1' role='dialog' aria-hidden='true')
            div.modal-dialog(role='document')
                div.modal-content(role='document')
                    div.modal-header
                        -var title = 'Delete Training Requirement"' + training.name + '" of Role "' + role.name + '"'
                        h2.modal-title #{title} 
                        button.close(type='button' data-dismiss='modal' aria-label='Close')
                            span(aria-hidden='true') &times;
                    div.modal-body
                        -var desc = 'Description: ' + training.description
                        p #{desc}
                        p Do you really want to delete this training requirement?
                    div.modal-footer
                        a(href='/roles/role/'+role.id+'/training/'+training.id+'/delete')
                            button.btn.btn-primary(type='button') OK
                        button.btn.btn-danger(type='button' data-dismiss='modal') Cancel
