extends ../../views/layout

block content
    h1= title
    form(method='POST' action='' novalidate)
        div.form-group 
            label(for='name') Name: 
            input#name.form-control(
                name='name'
                type='text' 
                placeholder='Name of training'
                required='true' 
                value=(undefined==training ? '' : training.name))        
        div.form-group 
            label(for='description') Name: 
            input#name.form-control(
                name='description'
                type='textarea' 
                placeholder='Description of training'
                required='false' value=(undefined==training ? '' : training.description))
        button.btn.btn-primary(type='submit') Submit
        a(href='/trainings/'+org)
            button.btn.btn-danger(type='submit') Cancel

    if errors 
        ul  
            for error in errors 
                li!= error.msg