extends ../../views/layout

block content
    h1= title
    - var addurl = '/jobs/job/'+job.id+'/role/add'
    a(href=addurl)
        button.btn.btn-large.btn-primary Add Role to Job
    p
    a(href='/jobs/'+job.organization)
        button.btn.btn-large.btn-primary Return to Job List
    p
    if rolelist.length != 0
        table(class='table' id='job-table')
            thread 
                tr 
                    th(class='text-left' scope='col') Name 
                    th(class='text-left' scope='col') Description 
                    th(class='text-center' scope='col') Remove
            tbody 

                each role in rolelist
                    tr 
                        td(class='text-left') #{role.name}
                        td(class='text-left') #{role.description}
                        td(class='text-center')
                            a(href='/jobs/job/'+job.id+'/role/'+role.id+'/delete' style="color:red")
                                button(type='button' class='btn btn-small btn-danger') 
    else
        ul
            li There are no roles for job #{job.name}
