extends ../../views/report_layout

block content
    h1.text-center= title 

    //- loop thru all of the organizations
    for item in report_data
        //- Identify the organization
        h2= 'Organization: ' + item.org.name
        //- loop through all of the jobs
        for job_item in item.job_data
            h3= 'Job: '+ job_item.job.name
            //- loop through all of the tasks of the job
            table.table-bordered.table-hover.table-sm(class='table' id='task-tablej-'+job_item.job.id)
                thead.thead-dark 
                    tr 
                        th.text-left(scope='col') Name 
                        th.text-left(scope='col') Start Date/Time
                        th.text-left(scope='col') End Date/Time 
                        th.text-center(scope='col') Role/Person 
                tbody 
                    for task_item in job_item.task_data
                        tr 
                            td(class='text-left')= task_item.task.name
                            td(class='text-left')= task_item.task.startDateTime_formatted
                            td(class='text-left')= task_item.task.endDateTime_formatted
                            td(class='text-left')
                                table(class='table')
                                    thead
                                        tr
                                            th.text-left(scope='col') Role Name 
                                            th.text-left(scope='col') Person Name 
                                            th.text-left(scope='col') Available
                                            th.text-left(scope='col') Qualified
                                    tbody
                                        for role_item in task_item.roleData
                                            tr 
                                                td(class='text-left')= role_item.role.name
                                                -var a = (role_item.availability.available)? 'yes': 'no'
                                                -var q = (role_item.qualification.qualified)? 'yes': 'no'
                                                td(class='text-left')= role_item.person.fullName
                                                td(class='text-center')= a
                                                    for reason in role_item.availability.reasons
                                                        p.text-left= reason
                                                td(class='text-center')= q
                                                    for reason in role_item.qualification.reasons
                                                        p.text-left= reason
                            


                                    
